.referenceColors {
  color: rgb(40, 136, 214);
  color: rgb(87, 174, 210);
  color: rgb(43, 125, 138);
  color: rgb(45, 150, 150);
  color: #24a1e6;
  color: #4d5bd6;
  color: #5b8ea6;
  color: #39a8b4;
  color: #2893d6;
  color: #1400e6;
  color: #2844a1;
  color: #69cbd6;
  color: rgb(28, 171, 193);
  color: #769faf;
}